*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #2C3E50;
}

.bg-green{
    background-color: #1ABC9C;
    height: 400px;
}

.bg-red{
    background-color: red;
    height: 50px;
}

.bg-blue{
    background-color: blue;
    height: 50px;
}

.bg-orange{
    background-color: orange;
    height: 100px;
}

.bg-violet{
    background-color: violet;
    height: 70px;
}

.bg-black{
    background-color: black;
    height: 30px;
}

.bg-lightgreen{
    background-color: lightgreen;
}